:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #2ee959;
  text-decoration: inherit;
}
a:hover {
  color: #209e3d;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.ant-collapse-header-text,
.ant-collapse-content-box {
  font-size: 1.1rem;
  color: white;
}

.ant-btn:disabled {
  background-color: #1677ff;
  opacity: 0.5;
  border-color: #1677ff;
  color: white;
}

.anticon-close,
.ant-drawer-body {
  color: white !important;
}
.ant-drawer-content {
  background: #242424 !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  .anticon-close,
  .ant-drawer-body {
    color: black !important;
  }
  .ant-slider-mark-text,
  .ant-input-number-group-addon,
  .ant-collapse-header-text,
  .ant-collapse-content-box {
    color: #213547 !important;
  }
  .ant-drawer-content {
    background: white !important;
  }
}

.bg {
  z-index: -1;
  max-width: 100%;
  object-fit: cover;
  object-position: 0 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeIn ease 1.5s;
  mask-image: linear-gradient(black 0%, transparent 95%);
  -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 100%);
}
/* BACKGROUND */
@media screen and (max-width: 600px) {
  .bg {
    z-index: -1;
    animation: fadeIn ease 1.5s;
    transition: 1s;
    position: fixed;
    opacity: 0.5;
    width: 100%;
    height: auto;
    max-width: 100%;
    top: 0;
    left: 0;
    mask-image: linear-gradient(black 0%, transparent 95%);
    -webkit-mask-image: linear-gradient(180deg, black 0%, transparent 100%);
  }
}
@keyframes fadeIn {
  0% {
    top: -10rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 0.5;
  }
}
@keyframes slideIn {
  0% {
    /* height: 0; */
    opacity: 0;
  }
  50% {
    height: max-content;
  }
  100% {
    opacity: 1;
  }
}
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
